@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.cell {
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  background-color: #f0f4ef;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
}

.cell:hover {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.barrier {
  background-color: #e6aace;
  animation-name: popup;
  animation-iteration-count: 1;
  animation-duration: 0.15s;
}

.container {
  margin: auto;
  height: 700px;
}

.start {
  /* background-color: #afdb67; */
  background: #89cff0 !important; /* I'm using !important 'cause I don't want to make more mess in typescript preventing start and end node become black like path color */
}

.end {
  /* background-color: #d34f73; */
  background: #ffc0cb !important; /* I'm using !important 'cause I don't want to make more mess in typescript preventing start and end node become black like path color */
}

.controlpanel {
  display: flex;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

span {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

button {
  font-family: "Open Sans", sans-serif;

  margin: 1em;
  padding: 0.5em 1em;
  cursor: pointer;

  border-radius: 20px;
  border: none;

  transition: 0.2s ease-in-out;
}

button:hover {
  filter: brightness(0.9);
}

.openList {
  background-color: #f9fcf8;
  /* background-color: #d5be61; */
}

.closedList {
  background-color: #dedfde;
  /* background-color: #e5ee7a; */
}

.path {
  /* background-color: #3e4bac; */
  background-color: #64727c;
}

.barrier-btn {
  background-color: #e6aace;
  color: #ffffff;
}

.end-btn {
  background: #ffc0cb;
  color: #ffffff;
}

.start-btn {
  background: #89cff0;
  color: #ffffff;
}

.disabled {
  pointer-events: none;
}

footer,
a {
  text-decoration: none;
  color: #64727c;
}
