.cell {
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  cursor: pointer;
  transition: transform 0.2s;
}

.cell:hover {
  transform: scale(1.2);
  filter: brightness(0.8);
}

.barrier {
  background-color: magenta;
  animation-name: popup;
  animation-iteration-count: 1;
  animation-duration: 0.15s;
}

.container {
  margin: auto;
  height: 700px;
  border: 2px solid black;
}

.start {
  background-color: #ffd04f;
}

.end {
  background-color: #ff6464;
}

.controlpanel {
  top: 0;
  position: absolute;
  width: 5em;
}

button {
  margin: 1em 0;
  width: 100%;
  cursor: pointer;
}

.openList {
  background-color: chartreuse;
}

.closedList {
  background-color: red;
}

/* @keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
